<div class="container" >

  <%= render 'navbar'%>

  <div class=" p-4">
  <%= simple_form_for(@cocktail) do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <!-- pour une photo -->
        <%#= f.input :picture, as: :file %>
        <!-- pour plusieurs photos  -->
        <%= f.input :pictures, as: :file, input_html: { multiple: true} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <%= render 'footer'%>
</div>
